/*Created by Ife Adepoju*/

html{
	scroll-behavior: smooth;
}

* {
	margin: 0;
	padding: 0;
	font-family: Arial;
}

.slider{
	overflow: hidden;
}

.slider figure {
	position: relative;
	width: 500%;
	margin: 0;
	left: 0;
	animation: 18s slider infinite;

}

.slider #sliderMessages{
	width: 100%;
	position: absolute;
	display: inline-block;
}

.slider figure img{
	float: left;
	width: 20%;
	opacity: 1.3;
}
  	

@keyframes slider {
	0%{
		left: 0;
	}
	20%{
		left: 0;
	}
	25%{
		left: -100%;
	}
	45%{
		left: -100%
	}
	50%{
		left: -200%
	}
	70%{
		left: -200%
	}
	75%{
		left: -300%
	}
	95%{
		left: -300%
	}
	100%{
		left: -400%
	}
}


.top{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 70px;
	padding: 10px;
	background-color: #000;
	opacity: .8;

}

.logo{
	padding: 26px 8px;
	height: 50px;
	float: left;
	font-size: 20px;
	font-weight: bold;
	text-transform: uppercase;
	color: #fff;
}

.top ul{
	list-style: none;
	float: right;
	margin-right: 60px;
	padding: 0;
	display: inline-block;
}

.top ul li{
	float: right;
	width: 100px;
	height: 40px;
	text-align: center;
	font-size: 17px;
	line-height: 70px;
	color: #fff;
}

.top ul li a{
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	display: block;
}

.top ul li a:hover{
	background: rgba(0,0,0,0.8);
	border-radius: 6px;

}

.top ul li a.active{
	background: #444;
	color: rgba(255, 166, 0, 0.8);
	border-radius: 6px;
}


.sub-menu1{

	display: none;
}

.top ul li:hover .sub-menu1{
	display: block;
	
}

.top ul li:hover .sub-menu1 ul li{
	float: none;
	width: 180px;
	padding: 10px;
	margin-top: 0px;
	display: list-item;
	background-color: #000 ;
	text-align: left;
}

.top ul li:hover .sub-menu1 ul li a:hover{
	color:#fff;
}

.text22{
	
	width: 1350px;
	float: left;
	width: 20%;
	display: block;
}

#horizontal{
	width: 5px;
	height: 10px;
	color: rgba(255, 166, 0, 0.8);
	float: center;
}

#line1{
	width: 80px;
	border: 1px solid rgba(255, 166, 0, 0.8);
	margin-top: 150px;
	margin-left: 570px;
}

.text22 h1{
  	margin-top: 50px;
  	font-size: 70px;
  	text-align: center;
  	color: #fff;

}


.text22 p{
	margin-top: 30px;
	color: #fff;
	font-size: 40px;
	text-align: center;

}

.text22 a{
	display: block;
    font-size: 18px;
    text-align: center;
    color: #fff;
    letter-spacing: 2px;
    width: 250px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 40px;
    left: 50px;
    padding: 7px 28px;
    text-decoration: none;
    background: rgba(255, 166, 0, 0.8);
    border: 1px solid transparent;
    border-radius: 2px;
}

.text22 a:hover{
	background: #000;
	transition: .3s;
}


.tip h2{
	text-align: center;
	margin-top: 30px;
	font-size: 35px;
	font-weight: bold;
	color: #000;
}

#line{
	width: 60px;
	border: 1px solid transparent;
	background: rgba(255, 166, 0, 0.8);
	margin-top: 60px;
	margin-left: 580px;

}

.container{
	width: 100%;
	margin: 50px auto 0;
	display: flex;
	flex-direction: row; 
	flex-wrap: wrap;
}

.container .box{
	width: 320px;
	height: 200px;
	margin-left: 70px;
	margin-top: 10px;
	padding: 10px;
	box-sizing: border-box;

}

.container .box h2{
	text-align: left;
	font-weight: bold;
	font-size: 20px;
	text-transform: uppercase;
}

.container .box p{
	text-align: left;
	font-size: 15px;
	color: rgb(120, 120, 120);
	opacity: .7;
}

.container .box i{
	font-size: 30px;
	float: left;
	margin-right: 20px;
	border: 20px solid transparent;
	background: rgba(255, 166, 0, 0.8);
	border-radius: 100%;
}


.lad{
	width: 100%;
	margin: 30px auto 0;
	height: 300px;
}

.lad img{
	float: right;
	width: 500px;
	height: 300px;
	margin-right: 40px;
	margin-left: 50px;
	overflow: hidden;
}


.lad h2{
	margin-left: 60px;
	text-transform: uppercase;
	font-size: 25px;
	font-weight: bold;
}

.lad h3{
	margin-left: 60px;
	margin-top: 20px;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 20px;
	color: #000;
	opacity: .8;
}

.lad p{
	margin-left: 60px;
	margin-top: 20px;
	margin-bottom: 50px;
	font-size: 18px;
}

.lad a{
	
	margin: 30px;
	margin-left: 60px;
	margin-top: 100px;
	margin-bottom: 60px;
	
	font-size: 18px;
	letter-spacing: 2px;
	text-decoration: none;
	padding: 7px 28px;
	border:1px solid transparent;
	border-radius: 2px;
	color: #fff;
	background: rgba(255, 166, 0, 0.8);

}

.lad a:hover{
	background: #000;
	transition: .3s;
}


#line2{
	width: 70px;
	border: 1px solid rgba(255, 166, 0, 0.8);
	margin-top: 60px;
	margin-bottom: 30px;
	margin-left: 60px;
}


.box{
	margin-top: 20px;
	margin-bottom: 5px;
	display: block;
	box-sizing: border-box;
	float: left;
	width: 25%;
	overflow: hidden;
}

.box img{
	width: 100%;
}

.box img:hover{
	transform: scale(2);
	transition: .2s transform;
}


.laster{
	position: relative;
	width: 70%;
	margin: 20px;
}

.laster h1{
	position: relative;
	width: 70%;
	font-size: 50px;
	text-align: center;
	color: #000;
	margin-left: 300px;
	margin-bottom: 50px;

}

#line3{
	position: relative;
	text-align: center;
	width: 70px;
	border: 1px solid rgba(255, 166, 0, 0.8);
	margin-top: 450px;
	margin-bottom: 30px;
	margin-left: 550px;
}

.gala{
	width: 100%;
	height: 550px;
}
.gallery {
	margin-top: 40px;
	margin: 2px;
	margin-left: 40px;
	border: 1px solid transparent;
	float: left;
	width: 350px;
}

.gallery:hover {
  	border: 1px solid #777;
}

.gallery img {
  	width: 100%;
  	height: auto;
}

.desc {
  	padding: 15px;
  	text-align: center;
}

.desc h1{
	font-size: 30px;
	color: #004;
}


.footer{
	position: relative;
	width: 100%;
	height: 500px;
	background: #333;
	display: block;
}

.inner-footer{
	width: 95%;
	margin:auto;
	padding: 30px 10px;
	display: flex;
	flex-wrap: wrap;
	box-sizing: border-box;
	justify-content: center;
}

.footer-items{
	width: 25%;
	margin-top: 40px;
	padding: 10px 20px;
	box-sizing: border-box; 
}

.footer-items h1{

	padding: 10px 0;
	font-size: 18px;
	font-weight: 300;
	color: #fff;
	text-transform: uppercase;
}

.footer-items p{
	margin-top: 28px;
	color: grey;
	font-size: 16px;
	font-weight: 300;
	text-align: left;
	line-height: 1.425;
	word-spacing: 0.1em;

}

.footer-items h2 {
	margin: 10px;
	margin-bottom: 34px;
	color: #fff;
	font-size: 18px;
	font-weight: 300;
	text-transform: uppercase;
}


.footer-items i{
	margin-top: 0px;
	color: gray;
	font-size: 13px;
	text-transform: capitalize;
}


.footer-items h3{
	margin-top: 10px;
	margin-bottom: 15px;
	color: #fff;
	font-size: 12px;
	font-weight: 300;
	text-transform: lowercase;
	font-family: arial, sans-serif;
}

.footer-items h3:hover{
	color: rgba(255, 166, 0, 0.8);
}

.footer-items h4{
	margin: 10px;
	margin-bottom: 15px;
	color: grey;
	font-family: sans-serif;
	font-size: 16px;
	font-weight: 300;
	text-transform: capitalize;
}

.footer-items h4 p{
	margin-top: 10px;
	color:  rgba(255, 166, 0, 0.8);
	font-weight: 300;
	display: inline-block;
}	

.footer-items ul{
	margin-top: 35px;
	list-style: none;
	color: #fff;
	font-size: 15px;
	font-weight: 300;
	letter-spacing: 0.5px;
}

.footer-items ul a{
	text-decoration: none;
	outline: none;
	line-height: 25px;

	color: rgba(255, 166, 0, 0.8);
	transition: 0.3s;

}

.footer-items ul a:hover{
	color: #fff;
}

.footer-items ul li{
	margin: 5px;
}


.social{
	position: absolute;
	width: 100%;
	height: 60px;
	margin-top: 410px;
	background: #272727;
	display: block;
	box-sizing: border-box;
}

.social p{
	float: left;
	margin-top:20px;
	margin-left: 20px;
	color: gray;
	font-size: 14px;
}

.social-media{
	float: right;
}

.social-media i{
	color: #fff;
	margin-top: 20px;
	margin-right: 20px;
}

.social-media i:hover{
	color: rgba(255, 166, 0, 0.8);
}


.gotopbtn{
	position: fixed;
	width: 50px;
	height: 50px;
	background:  rgba(255, 166, 0, 0.8);
	bottom: 40px;
	right: 50px;

	text-decoration: none;
	text-align: center;
	line-height: 50px;
	color: #fff;
	font-size: 22px;
	border-radius: 100%;
	overflow: hidden;

}

.gotopbtn:hover{
	background: #000;
}
















